services:

  spark:
    image: jupyter/pyspark-notebook:latest
    container_name: spark
    platform: linux/amd64
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
    - ./spark:/home/jovyan/work
    - ./data/delta-lake:/opt/spark/delta-lake

  scylla:
    image: scylladb/scylla
    container_name: scylla
    platform: linux/amd64
    ports:
      - "9042:9042"

  # airflow:
  #   image: apache/airflow:2.8.0
  #   container_name: airflow
  #   platform: linux/amd64
  #   ports:
  #     - "8081:8080"
  #   volumes:
  #     - ./airflow/dags:/opt/airflow/dags
  #   command: airflow standalone
  airflow:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow
    platform: linux/amd64
    ports:
      - "8081:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./spark:/opt/airflow/spark
      - ./data/delta-lake:/opt/airflow/delta
    command: airflow standalone

